.title{
    display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 50px;
   font-size:xx-large;
   font-weight: 800;
   color: hsl(0, 0%, 25%);
}
body{
    display :flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    margin: 0;
    background-color :azure;
}
.Card{
   
    padding:50px;
    margin: 10px;
    display :flex;
    align-items: center;
    justify-content: center;
     flex-direction: column;
    border-radius: 5%;
    border: 3px solid hsl(0, 0%, 20%);;
  
}
.inputBox{
    padding: 10px;
    margin: 5px;
    border-radius: 10%;
}
.submitBtn{
    padding:5px;
    margin-top: 20px;
    background: hsl(145, 81%, 53%);
    border-radius: 5%;
    border-color: hsl(145, 81%, 53%);
}
.submitBtn:hover{
    background-color:  hsl(145, 81%, 43%);
    color : white;
    
}